.area-select-style {
    display: flex;
	height: 26px;
	line-height: 24px;
    .dropdown-select{
        width: 75px;
        // height: 26px;
        margin-right: 5px;
    }
    .dropdown-select .dropdown-select-input-wrap .dropdown-select-input {
		height: 24px;
		line-height: 24px;
    }
    .dropdown-select .dropdown-select-input-wrap .dropdown-select-clear, .dropdown-select .dropdown-select-input-wrap .dropdown-select-down{
        line-height: 22px;
    }
	.prepare-edit {
		>* {
			display: flex;
			align-items: center;
			margin-left: 10px;
			cursor: pointer;
			&:hover {
				fill: #0083BA;
			}
			&icon-finish {
				fill: #52C41A;
			}
			&icon-close {
				fill: fade(#000, 45%);
			}
		}
	}
    .detail-address-style{
        height: 26px;
        width: 346px;
    }
}
