<cc-loading ng-if="vm.loading"></cc-loading>
<div ng-if="!vm.loading" class="area-select-style">
	<cc-dropdown-select
		model="vm.state"
		datalist="vm.areaList"
		mapping="vm.fieldMap"
		on-select-change="vm.onProvenceChange(newValue, oldValue, itemIndex)"
	>
	</cc-dropdown-select>
	<cc-dropdown-select
		disabled="!vm.state"
		model="vm.city"
		datalist="vm.cityList"
		mapping="vm.fieldMap"
		on-select-change="vm.onCityChange(newValue, oldValue, itemIndex)"
	>
	</cc-dropdown-select>
	<cc-dropdown-select
		disabled="!vm.city"
		model="vm.district"
		datalist="vm.districtList"
		mapping="vm.fieldMap"
		on-select-change="vm.onDistrictChange(newValue, oldValue, itemIndex)"
	>
	</cc-dropdown-select>
	<cc-dropdown-select
		ng-if="vm.townList"
		disabled="!vm.district"
		model="vm.town"
		datalist="vm.townList"
		mapping="vm.fieldMap"
		on-select-change="vm.onTownChange()"
	>
	</cc-dropdown-select>
	<input
		class="detail-address-style"
		ng-model="vm.detailAddress"
		ng-keyup="vm.handleDetailAddressEdit($event)"
	/>
	<span class="prepare-edit">
		<icon-finish ng-click="vm.handleSaveArea()"></icon-finish>
		<icon-close ng-click="vm.handleCancelArea()"></icon-close>
	</span>
</div>
