
html, body{
    width: 100%;
    overflow-x:hidden;
    margin: 0;
    padding: 0;
}
header{
    height: 50px;
    text-align: center;
    line-height: 50px;
}
main{
    padding: 15px;
}
.open-customer-view{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #e8e8e8;
}